	body {	
		margin:0;
		padding:0;
		font:normal 30px/1.6em Arial, Helvetica, sans-serif;
	}

	.nav ul {
	    list-style-type: none;
	    margin: 0;
	    padding: 0;
	    background-color: #333;
	    position: fixed;
	    top: 0;
	    width: 100%;
	    font-weight:bold;
	}

	.nav li {
		font-style:bold;
	    float: left;
	    display: block;
	}

	.nav li a {
	    display: block;
	    color: white;
	    text-align: center;
	    padding: 14px 16px;
	    text-decoration: none;
	}

	.nav li a:hover {
	    background-color: #111;
	}

	#main-content {
		padding-top:30px;
		min-height: 100%;
		clear:both;
	}

	.content {
		font:normal 30px/1.6em Arial, Helvetica, sans-serif;
		padding:30px;
		text-align:center
	}
	
	#logo {
		margin-top:40px;
		padding:30px;
		font:normal 45px Georgia, serif;
		text-align:center;
	}

	#About {
		padding-left:450px;
		padding-right:400px;
		font:normal 30px Georgia, serif;
		background-color:#dbd2d2;
	}

	#Contact {
		font:normal 30px Georgia, serif;
		padding-bottom: 80px;
	}

	.footer {
	  font:normal 15px/1.6em Arial, Helvetica, sans-serif;
	  padding: 10px;
	  background-color: black;
	  color:white;
	  text-align: lefts;
	  height: 20px;
	}

	.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.sidenav a:hover, .offcanvas a:focus{
    color: #f1f1f1;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}
