/* Author: Dhivo Gnani 
 * File: blog.css  
 */
 
body 
{
	background-color: black;
	font-family: "Press Start 2P";
	color: white;
}

.title
{
	font-size:75px;
	float:left;
}

.author 
{
	float:right;
}

#start
{
	font-size:30px;
	clear:both;
	padding-top:100px;
	text-align:center;
}

#game 
{
	display:none;
	clear:both;
	padding-top:50px;
}

#snakeCanvas
{
    display:block;
    padding-top:10px;
    margin-left: auto;
    margin-right: auto;
}

#level 
{
	text-align:center;
}

#score 
{
	padding-top:10px;
	text-align:center;
}